.movieList--container
{
    display: flex;
    margin-bottom: 50px;
    overflow-x: scroll;
    scrollbar-width: none;

    transition: all ease 0.3s;
}

.movieList--leftArrow,
.movieList--rightArrow
{
    color: white;
    font-size: 40px;
    position: absolute;
     width: 40px;
    height: 400px;
    background-color: hsla(0, 0%, 6%, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

.movieList--container:hover  .movieList--leftArrow,
.movieList--container:hover  .movieList--rightArrow
{
    opacity: 1;
    transition: all ease 0.5s;
}


.movieList--leftArrow
{
    left: 0;   
}

.movieList--rightArrow
{
    right: 0;
}

@media screen and (max-width: 1200px)
{
    .movieList--leftArrow,
    .movieList--rightArrow
    {
        display: none;
    }
}